# ignore jsonl files automatically annotated
*_revised.jsonl
*errors.jsonl
*.log
secret.py
automatically_annotated/**
indices/**
embeddings/**
embeddings_db/**
tobepredicted/**
tobetweeted/**
.idea/**
logs/**
data/anglicisms_index.csv
data/articles_index.csv
scripts/lemmatize_db.py
**/__pycache__/**