# Dependencies
#Python 3.7.4
# conda install -c conda-forge mysqlclient
#mysql # install via conda install. required by pattern conda install -c anaconda mysql-connector-python
newspaper3k
tweepy
furl
pattern
langdetect
sentence_splitter
pylazaro
attr
sentence-splitter
feedparser
xmltodict
requests
pyyaml 

#python -c "import nltk; nltk.download('omw-1.4')"

